@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

html,
body {
  font-family: 'Lato', sans-serif;
}

#user-button {
    margin: auto;
  }
  
  .buttonauth {
    border: none;
    border-radius: 10px;
    color: rgb(95, 95, 225);
    padding: 8px;
    cursor: pointer;
  }
  
  #no-frontend-api-warning h3 {
    color: #e61d1d;
    margin-bottom: 0;
  }
  
  #no-frontend-api-warning h4 {
    color: #333;
    font-weight: 400;
    margin-top: 10px;
  }